/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html,
body {
  width: 95%;
  height: 100%;
  font-family: "Titillium Web", sans-serif;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Bangers", cursive;
  letter-spacing: 1px;
  margin-bottom: 15px;
}


.nav-container {
  /* border: 5px solid red; */
  display: flex;
  justify-content: center; 
}

.nav-container .nav {
  /* border: 5px solid blue; */
  display: flex;
  margin-top: 2%;
}

.nav-container .nav a {
  /* border: 5px solid green; */
  font-weight: bold;
  text-decoration: none;
  color: lightgray;
  margin-right: 60px;
}

.nav-container .logo {
  /* border: 5px solid purple; */
  height: 35px;
  display: flex;
  align-self: flex-end;
}

.nav-logo {
  height: 30px;
  display: flex;
  align-self: flex-end;
}

.header-container {
  /* border: 5px solid red; */
  margin: 10% 0;
  display: flex;
  justify-content: center;
}

.header-item {
  /* border: 5px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35%;
}

.header-item h1 {
  display: flex;
  text-align: center;
  font-size: 80px;
}

.header-item button {
  border: 1px solid black;
  width: 30%;
  padding: 1%;
  background: white;
  font-size: 16px;
}

.top-row {
  /* border: 5px solid red; */
  border-top: 2px solid black;
  margin: 5% 0;
  display: flex;
  width: 100%;
}

.top-row .top-row-item {
  /* border: 5px solid blue; */
  width: 50%;
  margin-top: 30px;
}

.middle-img {
  width: 100%
}
.bottom-row {
  /* border: 5px solid red; */
  margin: 2% 0;
  display: flex;
}

.bottom-row .bottom-row-item {
  /* border: 5px solid blue; */
  width: 50%;
  margin-right: 1%;
}

address {
  border-top: 2px solid black;
  margin: 10px 0px 0px 0px;
}

address h2 {
  margin-top: 25px;
}

footer {
  text-align: center;
  margin: 5% 0;
}

@media(max-width: 800px) {
  .container {
    width: 100%;
  }
  
  .nav-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }

  .nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .nav-container .logo {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .header-container img {
    display: none;
  }

  .header-container button {
    width: 80%;
  }

  .middle-img {
    width: 100%;
  }

}

@media(max-width: 500px) {
  .container {
    width: 100%;
  }

  .nav-container .nav {
    flex-direction: column;
  }

  .nav a {
    width: 100%;
    border-top: 1px solid grey;
    padding: 20px;
    text-align: center;
  }

  .header-container button {
    width: 100%;
  }

  .top-row {
    flex-direction: column;
  }

  .top-row .top-row-item {
    width: 100%;
    margin: 20px 0;
  }

  .bottom-row {
    flex-direction: column;
  }

  .bottom-row  .bottom-row-item {
    width: 100%;
    margin: 20px 0;
  }
}

